:host {
  display: block;
  height: 100%;
}

:host ::ng-deep .p-panelmenu .p-panelmenu-header-action {
  border: none;
  background: transparent;
  font-weight: normal;
}

:host ::ng-deep .p-panelmenu .p-panelmenu-content {
  border: none;
}