:host {
    display: block;
    height: 100%;
}

::ng-deep div.vis-tooltip {
    background-color: #fff;
    border: 1px solid #e2e8f0;
    color: #1e293b;
    padding: 8px 12px;
    border-radius: 6px;
    font-family: var(--font-family);
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1);
}