:host {
  display: block;
}

.network-container {
  height: 400px;
  background-color: var(--surface-ground);
  border-radius: 6px;
  border: 1px solid var(--surface-border);
}

:host ::ng-deep .vis-manipulation {
  display: none !important;
}