<div class="login-container flex align-items-center justify-content-center min-h-screen bg-green-50">
  <p-card header="GreenLog Solutions" subheader="Acesse sua conta" [style]="{ width: '360px' }" styleClass="shadow-4">
    <ng-template pTemplate="header">
        <div class="text-center pt-4">
          <i class="pi pi-map-marker text-5xl text-green-600"></i>
        </div>
    </ng-template>

    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="flex flex-column gap-3">
      
      <!-- Email -->
      <div class="flex flex-column gap-2">
        <label for="email" class="font-semibold">E-mail</label>
        <input pInputText id="email" formControlName="email" placeholder="ex: admin@greenlog.com" />
        @if (loginForm.get('email')?.invalid && loginForm.get('email')?.touched) {
          <small class="text-red-500">E-mail inválido ou obrigatório.</small>
        }
      </div>

      <!-- Senha -->
      <div class="flex flex-column gap-2">
        <label for="senha" class="font-semibold">Senha</label>
        <p-password id="senha" formControlName="senha" [feedback]="false" [toggleMask]="true" styleClass="w-full" inputStyleClass="w-full"></p-password>
        @if (loginForm.get('senha')?.invalid && loginForm.get('senha')?.touched) {
          <small class="text-red-500">A senha é obrigatória.</small>
        }
      </div>

      <!-- Botão Entrar -->
      <p-button label="Entrar" type="submit" [loading]="isLoading" styleClass="w-full p-button-success mt-2"></p-button>
    
    </form>
  </p-card>
</div>