:host {
    display: block;
}

.h-screen-calc {
    height: calc(100vh - 2rem);
}

.custom-scrollbar {
    &::-webkit-scrollbar {
        width: 8px;
        height: 8px;
    }
    &::-webkit-scrollbar-track {
        background: #f1f1f1;
    }
    &::-webkit-scrollbar-thumb {
        background: #c1c1c1;
        border-radius: 4px;
        &:hover {
            background: #a8a8a8;
        }
    }
}

.grid-nogutter > .col {
    flex: 1 0 0;
    min-width: 0;
}

::ng-deep .p-button.p-button-xs {
    width: 1.5rem;
    height: 1.5rem;
    padding: 0;
    .p-button-icon {
        font-size: 0.75rem;
    }
}